create_statement
"CREATE TABLE public.users (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	user_id INT8 NOT NULL,
	email STRING NOT NULL,
	password STRING NOT NULL,
	""role"" INT8 NULL DEFAULT 2:::INT8,
	created_at TIMESTAMP NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	CONSTRAINT users_pkey PRIMARY KEY (id ASC),
	UNIQUE INDEX users_linkname_user_id_key (linkname ASC, user_id ASC)
);"
"CREATE TABLE public.email_folders (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	user_id INT8 NOT NULL,
	name STRING NOT NULL,
	provider_folder_id STRING NULL,
	sync_status STRING NULL,
	created_at TIMESTAMP NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	CONSTRAINT email_folders_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.emails (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	user_id INT8 NOT NULL,
	subject STRING NULL,
	label STRING NULL,
	has_attachment BOOL NULL DEFAULT false,
	provider_id STRING NULL,
	message_id STRING NULL,
	thread_id STRING NULL,
	from_email STRING NULL,
	from_name STRING NULL,
	reply_to STRING NULL,
	folder_id UUID NOT NULL,
	provider_created_at TIMESTAMP NULL,
	provider_updated_at TIMESTAMP NULL,
	created_at TIMESTAMP NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	deleted_at TIMESTAMP NULL,
	is_deleted BOOL NULL DEFAULT false,
	CONSTRAINT emails_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.email_body (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	email_id UUID NOT NULL,
	content_type STRING NULL,
	content STRING NULL,
	text_data STRING NULL,
	CONSTRAINT email_body_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.email_recipients (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	email_id UUID NOT NULL,
	type STRING NOT NULL,
	email_address STRING NOT NULL,
	name STRING NULL,
	CONSTRAINT email_recipients_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.email_logs (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	email_id UUID NOT NULL,
	is_delivered BOOL NULL DEFAULT false,
	status STRING NULL,
	error STRING NULL,
	retry_count INT8 NULL DEFAULT 0:::INT8,
	provider_message_id STRING NULL,
	sent_at TIMESTAMP NULL,
	created_at TIMESTAMP NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	CONSTRAINT email_logs_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.campaign_templates (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	user_id INT8 NOT NULL,
	name STRING NOT NULL,
	subject STRING NOT NULL,
	from_email STRING NOT NULL,
	from_name STRING NULL,
	html_content STRING NOT NULL,
	text_content STRING NULL,
	default_vars JSONB NULL,
	is_active BOOL NOT NULL DEFAULT true,
	created_at TIMESTAMP NOT NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	CONSTRAINT email_campaign_templates_pkey PRIMARY KEY (id ASC),
	UNIQUE INDEX email_campaign_templates_user_link (user_id ASC, linkname ASC)
);"
"CREATE TABLE public.campaigns (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	user_id INT8 NOT NULL,
	name STRING NOT NULL,
	subject STRING NOT NULL,
	from_email STRING NOT NULL,
	from_name STRING NULL,
	template_id UUID NULL,
	scheduled_at TIMESTAMP NULL,
	timezone STRING NULL,
	send_strategy STRING NOT NULL DEFAULT 'all_at_once':::STRING,
	batch_size INT8 NOT NULL DEFAULT 500:::INT8,
	batch_interval_s INT8 NOT NULL DEFAULT 60:::INT8,
	max_retries INT8 NOT NULL DEFAULT 3:::INT8,
	status STRING NOT NULL DEFAULT 'draft':::STRING,
	is_deleted BOOL NOT NULL DEFAULT false,
	created_at TIMESTAMP NOT NULL DEFAULT now():::TIMESTAMP,
	updated_at TIMESTAMP NULL,
	CONSTRAINT campaigns_pkey PRIMARY KEY (id ASC)
);"
"CREATE TABLE public.campaign_recipients (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	campaign_id UUID NOT NULL,
	email_address STRING NOT NULL,
	name STRING NULL,
	variables JSONB NULL,
	created_at TIMESTAMP NOT NULL DEFAULT now():::TIMESTAMP,
	CONSTRAINT campaign_recipients_pkey PRIMARY KEY (id ASC),
	UNIQUE INDEX campaign_recipient_unique (campaign_id ASC, email_address ASC)
);"
"CREATE TABLE public.campaign_messages (
	id UUID NOT NULL DEFAULT gen_random_uuid(),
	linkname STRING NOT NULL,
	campaign_id UUID NOT NULL,
	campaign_recipient_id UUID NOT NULL,
	email_id UUID NULL,
	status STRING NOT NULL DEFAULT 'queued':::STRING,
	error STRING NULL,
	attempt INT8 NOT NULL DEFAULT 0:::INT8,
	provider_message_id STRING NULL,
	queued_at TIMESTAMP NOT NULL DEFAULT now():::TIMESTAMP,
	sent_at TIMESTAMP NULL,
	delivered_at TIMESTAMP NULL,
	updated_at TIMESTAMP NULL,
	CONSTRAINT campaign_messages_pkey PRIMARY KEY (id ASC),
	INDEX campaign_messages_by_campaign (campaign_id ASC),
	INDEX campaign_messages_status (campaign_id ASC, status ASC)
);"
ALTER TABLE public.email_body ADD CONSTRAINT email_body_email_id_fkey FOREIGN KEY (email_id) REFERENCES public.emails(id) ON DELETE CASCADE;
ALTER TABLE public.email_recipients ADD CONSTRAINT email_recipients_email_id_fkey FOREIGN KEY (email_id) REFERENCES public.emails(id) ON DELETE CASCADE;
ALTER TABLE public.email_logs ADD CONSTRAINT email_logs_email_id_fkey FOREIGN KEY (email_id) REFERENCES public.emails(id) ON DELETE CASCADE;
ALTER TABLE public.campaigns ADD CONSTRAINT campaigns_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.campaign_templates(id);
ALTER TABLE public.campaign_recipients ADD CONSTRAINT campaign_recipients_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;
ALTER TABLE public.campaign_messages ADD CONSTRAINT campaign_messages_campaign_id_fkey FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE CASCADE;
ALTER TABLE public.campaign_messages ADD CONSTRAINT campaign_messages_campaign_recipient_id_fkey FOREIGN KEY (campaign_recipient_id) REFERENCES public.campaign_recipients(id);
ALTER TABLE public.campaign_messages ADD CONSTRAINT campaign_messages_email_id_fkey FOREIGN KEY (email_id) REFERENCES public.emails(id);
-- Validate foreign key constraints. These can fail if there was unvalidated data during the SHOW CREATE ALL TABLES
ALTER TABLE public.email_body VALIDATE CONSTRAINT email_body_email_id_fkey;
ALTER TABLE public.email_recipients VALIDATE CONSTRAINT email_recipients_email_id_fkey;
ALTER TABLE public.email_logs VALIDATE CONSTRAINT email_logs_email_id_fkey;
ALTER TABLE public.campaigns VALIDATE CONSTRAINT campaigns_template_id_fkey;
ALTER TABLE public.campaign_recipients VALIDATE CONSTRAINT campaign_recipients_campaign_id_fkey;
ALTER TABLE public.campaign_messages VALIDATE CONSTRAINT campaign_messages_campaign_id_fkey;
ALTER TABLE public.campaign_messages VALIDATE CONSTRAINT campaign_messages_campaign_recipient_id_fkey;
ALTER TABLE public.campaign_messages VALIDATE CONSTRAINT campaign_messages_email_id_fkey;
